providerName="Postman Echo"
address="https://postman-echo.com/time"
contentType="application/json"
acceptType="application/json"
userName=""
password=""
connectionTimeout=I"10000"
receiveTimeout=I"180000"
proxyEnabled=B"false"
proxyHost="localhost"
proxyPort=I"8888"
xpathSuccessExpression=""
serializationFeatures=[]
deserializationFeatures=[]
