providerName="referencedata"
dataSource.target="(dataSourceName\=rdbeventprovider)"
changeLogName="rdbeventprovider"
changeLog="/META-INF/changelog-master.xml"
changeLogParametersSeparator="^"
changeLogParameters=[\
	"now\=sysdate^h2",\
	"blob_type\=clob^h2",\

	"now\=now()^postgresql",\
	"blob_type\=TEXT^postgresql",\
	
	"now\=sysdate^oracle",\
	"blob_type\=clob^oracle",\

	"now\=GETDATE()^mssql",\
	"blob_type\=longtext^mssql"\
]
defaultSchema=""
contexts=["build","config", "sampledata"]
labels=[]
tag=""
dropFirst=B"false"
async=B"true"
maxRetries=I"10"
retryDelay=I"1"
