provider.name="telcopluginsbase"
provider.root="/content/telcoplugins"
order.paths=["/libs/telcopluginsbase", "/libs/digitaljourney"]
baseUrlPropertyName="baseUrl"
bootNode="/libs/digitaljourney/foundation/v3/canvas/ufe/modules"
bootProperties=["runMode\=loc", "disableGeoLocation\=false", "httpRequestTimeout\=20000", "cacheControl\=no-cache", "canvasTitle\=Omnichannel"]