cacheName="refreshToken"
storeByValue=B"true"
expirePolicy="MODIFIED"
expirePolicyTimeUnit="HOURS"
expirePolicyDuration=L"8"
backupCount=I"1"
asyncBackupCount=I"0"
inMemoryFormat="BINARY"
evictionSize=I"10000"
evictionPolicy="LRU"
evictionMaxSizePolicy="ENTRY_COUNT"
managementEnabled=B"true"
statisticsEnabled=B"true"