providerName="uam"
dataSource.target="(dataSourceName\=uam)"
changeLogName="uam"
changeLog="/META-INF/changelog-master.xml"
changeLogParametersSeparator="^"
changeLogParameters=[\
	"uam.admin.username\=admin",\
	"uam.admin.password\=$shiro1$SHA-256$500000$qP2nXnatLnmrr+LQeZxnQg\=\=$ABXgt5ZDlgCRRyaxXORR/QFrpZMW77didcJ8P7AYs/M\=",\
	"now\=sysdate^h2",\
	"seq_uam_user_id_next_val\=SEQ_UAM_USER_ID.NEXTVAL^h2",\
	"seq_uam_role_id_next_val\=SEQ_UAM_ROLE_ID.NEXTVAL^h2",\
	"seq_uam_permission_id_next_val\=SEQ_UAM_PERMISSION_ID.NEXTVAL^h2",\
	"clob_type\=clob^h2",\

	"now\=now()^postgresql",\
	"seq_uam_user_id_next_val\=NEXTVAL('SEQ_UAM_USER_ID')^postgresql",\
	"seq_uam_role_id_next_val\=NEXTVAL('SEQ_UAM_ROLE_ID')^postgresql",\
	"seq_uam_permission_id_next_val\=NEXTVAL('SEQ_UAM_PERMISSION_ID')^postgresql",\
	"clob_type\=TEXT^postgresql",\
	
	"now\=sysdate^oracle",\
	"seq_uam_user_id_next_val\=SEQ_UAM_USER_ID.NEXTVAL^oracle",\
	"seq_uam_role_id_next_val\=SEQ_UAM_ROLE_ID.NEXTVAL^oracle",\
	"seq_uam_permission_id_next_val\=SEQ_UAM_PERMISSION_ID.NEXTVAL^oracle",\
	"clob_type\=clob^oracle",\

	"now\=GETDATE()^mssql",\
	"seq_uam_user_id_next_val\=NEXT VALUE FOR SEQ_UAM_USER_ID^mssql",\
	"seq_uam_role_id_next_val\=NEXT VALUE FOR SEQ_UAM_ROLE_ID^mssql",\
	"seq_uam_permission_id_next_val\=NEXT VALUE FOR SEQ_UAM_PERMISSION_ID^mssql",\
	"clob_type\=longtext^mssql"\
]
defaultSchema=""
contexts=["build","config", "sampledata"]
labels=[]
tag=""
dropFirst=B"false"
async=B"true"
maxRetries=I"10"
retryDelay=I"1"