address="http://www.webservicex.net/geoipservice.asmx"
connectionTimeout=L"10000"
name="GeoIP"
namespaceUri="http://www.webservicex.net/"
password=""
proxyEnabled=B"false"
proxyHost="localhost"
proxyPort=I"8888"
receiveTimeout=L"180000"
serviceName="GeoIPService"
successStatusCodes=[ \
  "1", \
  ]
userName=""
wsdlLocation="wsdl/samples/sample.wsdl"
