providerName="rulesengine"
dataSource.target="(dataSourceName\=rulesengine)"
changeLogName="rulesengine"
changeLog="/META-INF/changelog-master.xml"
changeLogParametersSeparator="^"
changeLogParameters=[\
	"now\=sysdate^h2",\
	"seq_rulesengine_session_id_next_val\=SESSION_SEQ_ID.NEXTVAL^h2",\
	"seq_rulesengine_fact_id_next_val\=FACT_SEQ_ID.NEXTVAL^h2",\
	"seq_rulesengine_rule_id_next_val\=RULE_SEQ_ID.NEXTVAL^h2",\
	"seq_rulesengine_sessionfact_id_next_val\=SESSION_FACT_SEQ_ID.NEXTVAL^h2",\
	"seq_rulesengine_sessionrule_id_next_val\=SESSION_RULE_SEQ_ID.NEXTVAL^h2",\

	"now\=now()^postgresql",\
	"seq_rulesengine_session_id_next_val\=NEXTVAL('SESSION_SEQ_ID')^postgresql",\
	"seq_rulesengine_fact_id_next_val\=NEXTVAL('FACT_SEQ_ID')^postgresql",\
	"seq_rulesengine_rule_id_next_val\=NEXTVAL('RULE_SEQ_ID')^postgresql",\
	"seq_rulesengine_sessionfact_id_next_val\=NEXTVAL('SESSION_FACT_SEQ_ID')^postgresql",\
	"seq_rulesengine_sessionrule_id_next_val\=NEXTVAL('SESSION_RULE_SEQ_ID')^postgresql",\

	"now\=sysdate^oracle",\
	"seq_rulesengine_session_id_next_val\=SESSION_SEQ_ID.NEXTVAL^oracle",\
	"seq_rulesengine_fact_id_next_val\=FACT_SEQ_ID.NEXTVAL^oracle",\
	"seq_rulesengine_rule_id_next_val\=RULE_SEQ_ID.NEXTVAL^oracle",\
	"seq_rulesengine_sessionfact_id_next_val\=SESSION_FACT_SEQ_ID.NEXTVAL^oracle",\
	"seq_rulesengine_sessionrule_id_next_val\=SESSION_RULE_SEQ_ID.NEXTVAL^oracle",\
	
	"now\=GETDATE()^mssql",\
	"seq_rulesengine_session_id_next_val\=NEXT VALUE FOR SESSION_SEQ_ID^mssql",\
	"seq_rulesengine_fact_id_next_val\=NEXT VALUE FOR FACT_SEQ_ID^mssql",\
	"seq_rulesengine_rule_id_next_val\=NEXT VALUE FOR RULE_SEQ_ID^mssql",\
	"seq_rulesengine_sessionfact_id_next_val\=NEXT VALUE FOR SESSION_FACT_SEQ_ID^mssql",\
	"seq_rulesengine_sessionrule_id_next_val\=NEXT VALUE FOR SESSION_RULE_SEQ_ID^mssql"\
]
defaultSchema=""
contexts=["build","config"]
labels=[]
tag=""
dropFirst=B"false"
async=B"true"
maxRetries=I"10"
retryDelay=I"1"
