tokenServiceName="default"
symmetricKey.target="(keyName\=default)"
asymmetricKey.target="(keyName\=default)"
issuer="omnichannel"
audience=["client"]
expirationTimeUnit="MINUTES"
expirationTime=L"30"
notBeforeTimeUnit="MINUTES"
notBeforeTime=L"2"
signatureAlgorithm="RS256"
keyEncryptionAlgorithm="RSA-OAEP-256"
contentEncryptionAlgorithm="A128CBC-HS256"