providerName="ldap"
ldapHost="localhost"
ldapPort=I"10389"
ldapsPort=I"636"
userName=""
password="postgres"
timeout=L"30000"
ssl=B"false"
tls=B"false"
sslProtocol="TLS"
lifo=B"true"
maxActive=I"8"
maxIdle=I"8"
maxWait=L"-1"
minEvictableIdleTime=L"18000000"
minIdle=I"0"
numTestsPerEvictionRun=I"3"
softMinEvictableIdleTime=L"-1"
testOnBorrow=B"false"
testOnReturn=B"false"
testWhileIdle=B"false"
timeBetweenEvictionRuns=L"-1"
String exhaustedAction="BLOCK"