provider.target="(providerName\=ldap)"
baseDn="ou\=UsersPT,dc\=example,dc\=com"
prefixBaseDnsSeparator="^"
prefixBaseDns=["PTOU^ou\=UsersPT,dc\=example,dc\=com","ENOU^ou\=UsersEN,dc\=example,dc\=com"]
userDnTemplate="cn\={0}"
authenticatorName="ldapAuthenticator"
authenticatorDescription="Authentication in LDAP Server"
keyDnProperty=""
filter=""
filterScope="SUBTREE"
keyFilterProperty=""
prefixFilterSeparator="^"
prefixFilter=""