providerName="processcontinuity"
dataSource.target="(dataSourceName\=processcontinuity)"
changeLogName="processcontinuity"
changeLog="/META-INF/changelog-master.xml"
changeLogParametersSeparator="^"
changeLogParameters=[]
defaultSchema=""
contexts=["build","config", "sampledata"]
labels=[]
tag=""
dropFirst=B"false"
async=B"true"
maxRetries=I"10"
retryDelay=I"1"