scripts=[\
  "create service user sling-jwe\n\
  create path (sling:Folder) /libs/foundation/jwe\n\
  create path (sling:Folder) /libs/foundation/jwe/blueprints\n\
  create path (sling:Folder) /libs/foundation/jwe/deleted_blueprints\n\
  set ACL for sling-jwe\n\
    deny   jcr:all    on /\n\
    allow   jcr:read,rep:write,jcr:versionManagement,jcr:lockManagement    on /libs/foundation/jwe\n\
  end"\
]