sling.core.servletName="foundation-neba"
service.ranking=I"1"
enabled=B"true"
sling.filter.pattern="/bin/mvc\\.do/foundation/.*"
sling.filter.scope=[\
	"REQUEST",\
	"FORWARD",\
	"INCLUDE",\
	"ERROR"\
]
staticSecurityManagerEnabled=B"false"
filterChainDefinitions=[\
	"/**/authorize \= authcXBasic",\
	"/**/authorize_kerberos \= authcIntegratedAuth",\
	"/**/authorize_saml \= authcSaml",\
	"/**/token \= anon",\
	"/**/providers \= anon",\
	"/** \= authcBearer",\
]
loginUrl="/login.jsp"
successUrl="/"
unauthorizedUrl=
