providerName="productmanagement"
dataSource.target="(dataSourceName\=productmanagement)"
changeLogName="productmanagement"
changeLog="/META-INF/changelog-master.xml"
changeLogParametersSeparator="^"
changeLogParameters=[\
	"now\=sysdate",\
	"now\=sysdate^oracle"\
]
defaultSchema=""
contexts=["build","config", "sampledata"]
labels=[]
tag=""
dropFirst=B"false"
async=B"true"
maxRetries=I"10"
retryDelay=I"1"
