providerName="notification"
dataSource.target="(dataSourceName\=notification)"
changeLogName="notification"
changeLog="/META-INF/changelog-master.xml"
changeLogParametersSeparator="^"
changeLogParameters=[\
	"now\=sysdate^h2",\
	"seq_message_notification_category_id_next_val\=SEQ_CATEGORY_ID.NEXTVAL^h2",\
	"seq_message_notification_message_id_next_val\=SEQ_NOTIFICATION_ID.NEXTVAL^h2",\
	"clob_type\=clob^h2",\

	"now\=now()^postgresql",\
	"seq_uam_user_id_next_val\=NEXTVAL('SEQ_CATEGORY_ID')^postgresql",\
	"seq_uam_role_id_next_val\=NEXTVAL('SEQ_NOTIFICATION_ID')^postgresql",\
	"clob_type\=TEXT^postgresql",\
	
	"now\=sysdate^oracle",\
	"seq_uam_user_id_next_val\=SEQ_CATEGORY_ID.NEXTVAL^oracle",\
	"seq_uam_role_id_next_val\=SEQ_NOTIFICATION_ID.NEXTVAL^oracle",\
	"clob_type\=clob^oracle",\

	"now\=GETDATE()^mssql",\
	"seq_uam_user_id_next_val\=NEXT VALUE FOR SEQ_UAM_USER_ID^mssql",\
	"seq_uam_role_id_next_val\=NEXT VALUE FOR SEQ_NOTIFICATION_ID^mssql",\
	"clob_type\=longtext^mssql"\
]
defaultSchema=""
contexts=["build","config", "sampledata"]
labels=[]
tag=""
dropFirst=B"false"
async=B"true"
maxRetries=I"10"
retryDelay=I"1"

