<configuration>
	<contextListener
		class="ch.qos.logback.classic.jul.LevelChangePropagator" />

	<!-- Appenders -->
	<appender name="console"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{dd-MM-yyyy HH:mm:ss} [%.-5p] - %msg [%logger]%n</pattern>
		</encoder>
		<target>System.out</target>
	</appender>

	<root level="error">
		<appender-ref ref="console" />
	</root>

	<logger name="io.digitaljourney.platform.plugins.modules.temperatureconverter.service.ri"
		level="debug" />
</configuration>
