provider.name="trainingbase"
provider.root="/content/training"
order.paths=[ "/libs/training", "/libs/digitaljourney"]
baseUrlPropertyName="baseUrl"
bootNode="/libs/digitaljourney/foundation/v3/canvas/ufe/modules"
bootProperties=["runMode\=loc", "disableGeoLocation\=false", "httpRequestTimeout\=10000", "cacheControl\=no-cache", "canvasTitle\=Omnichannel"]