auth.annonymous=B"false"
auth.http="preemptive"
auth.http.realm="Sling\ (Development)"
auth.sudo.cookie="sling.sudo"
auth.sudo.parameter="sudo"
auth.uri.suffix=[ \
  "/j_security_check", \
  ]
osgi.http.whiteboard.context.select="(osgi.http.whiteboard.context.name\=*)"
osgi.http.whiteboard.listener="true"
service.pid="org.apache.sling.engine.impl.auth.SlingAuthenticator"
sling.auth.anonymous.user=""
sling.auth.requirements=[ \
  "-/content", \
  "-/bin/mvc.do", \
  "-/system", \
  "-/libs", \
  "-/apps", \
  "-/digitaljourney", \
  ]
